name: CI/CD Java App - Railway

on:
  push:
    branches: [ "main", "Develop" ]
  pull_request:
    branches: [ "main", "Develop" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build without tests
        run: mvn clean install -DskipTests=true

      - name: Package app
        run: mvn package -DskipTests=true

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/*.jar

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Install dependencies
        run: mvn install

      - name: Run tests
        run: mvn test

      - name: Generate JaCoCo report
        run: mvn jacoco:report

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4

      - name: Instalar Railway CLI
        run: npm install -g @railway/cli

      - name: Descargar artefacto de build
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Desplegar a Railway
        run: |
          echo "Desplegando en Railway..."
          if [ "${{ github.ref_name }}" = "Develop" ]; then
            RAILWAY_TOKEN=${{ secrets.RAILWAY_TOKEN_STAGING }} railway up --environment Staging -- --f091b543-82ac-4290-8f27-5832b0940fd9
          elif [ "${{ github.ref_name }}" = "main" ]; then
            RAILWAY_TOKEN=${{ secrets.RAILWAY_TOKEN_PRODUCTION }} railway up --environment production -- --f091b543-82ac-4290-8f27-5832b0940fd9
          fi
